html {
  background-image: url(../img/tux-background.JPG)
}

h1 {
  font-family: 'Arial', sans-serif;
  font-variant: small-caps;
  text-shadow: 3px 3px 10px #2f4f4f;
  text-align: center;
}

main {
  font-family: 'Arial', sans-serif;
}

main > p {
  font-size: 1.5rem;
  line-height: 1.25;
  text-align: justify;
  margin: 100px 500px;
  padding: 10px 10px;
  color: #fff;
  background-color: rgba(75,0,130,0.8)
}

ul {
  list-style-type: none;
}
