h1 {
  background-color: white;
  color: black;
  margin: 10px 10px 0px 10px;
  box-shadow: 30px 20px 0px black;
  text-shadow: 30px 20px 0px white;
  width: 400px;
  text-align: center;
  margin-bottom: 50px;
 }
 img {
     max-width:25%;
     height:auto;
 }
div {
  columns: 3;
  column-width: 10px;
  text-align: center;
  padding-top: 0px;
  margin: auto;
  column-rule: 3px solid white;
  column-gap: 0px;
  background-color: black;
  color: white;
  }

p {
  margin-top: 0px;
  margin: 0px 0px;
}

#meow {
  columns: 3;
  column-width: 10px;
  text-align: left;
  background-color: white;
  color: black;
  column-gap: 5px;
}

html {
      background-image: url("file:///Users/willmcc/Documents/GitHub/assignment-2--web-design-at-risd--summer-2020/img/background.jpg");
      background-position: center center;
      background-size: 100% 100%;
    }
