body {
   font-family: "Open Sans", sans-serif;
   background-color: #C0D9D7;
   color: #1C594E;
}

h1,
h2,
h3,
h4 {
   font-family: Raleway, sans-serif;
}

h1 {
   font-size: 8em;
   margin: 0px;
   letter-spacing: 10px;
}

h1 + h1 {
   text-align: center;
}

h1 + h1 + h1 {
   text-align: right;
}

h2 {
   font-size: 2em;
   text-align: center;
   letter-spacing: 5px;  
   margin-bottom: 60px;
}

h3 {
   font-size: 20px;
   font-weight: 600;
   letter-spacing: 5px;
}

h4 {
   font-size: 20px;
   font-style: italic;
   font-weight: 600;
   text-align: center;
   margin: 36px;
}

p {
   line-height: 24px;
}

#column1
{
  float: left;
  margin: 0;
  width: 37%;
  text-align: center;
}

#column2
{
  float: left;
  margin: 0;
  width: 63%;
}
